{% extends "store/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <h2>Register</h2>
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        {{ form.username|as_crispy_field }}
        <br> <br>
        {{ form.email|as_crispy_field }}
        <br> <br>
        {{ form.password1|as_crispy_field }}
        <br> <br>
        {{ form.password2|as_crispy_field }}
        <br> <br>
        <button type="submit" class="btn btn-secondary btn-lg w-100 btn-block p-2"> &nbsp; Create account</button>
        <br> <br><br> <br>
    </form>
</div>
{% endblock %}

 
 
